{{> post-info post}}


{{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body" class="textarea"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-general">add comment</button>
            <button type="button" class="btn btn-general upvote-btn">upvote</button>
        </div>
    </form>
{{/if}}

{{> comments post.comments}}


{{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/upvote.js"></script>
{{/if}}